Рекомендательные системмы являются одними из самых популярных приложений DS. Они используются для прогнозирования предпочтений,  которые пользователь поставит какому-нибудь товару в магазине. Amazon использует их, чтобы предлагать продукты клиентам, YouTube решает какое видео воспроизводить следующим, а Facebook рекомендует посты. Существуют также рекомендательные системы для таких доменов, как рестораны, фильмы и онлайн-знакомства. Более того, для некоторых компаний, таких как Netflix, бизнес-модель и ее успех зависят от эффективности их рекомендаций. Netflix даже предложил миллион долларов в 2009 году каждому, кто сможет улучшить его систему рекомендаций на 10%.

Вообще говоря, рекомендательные системы могут быть поделены на 3 типа:
* Базовый подход: предлагайте общие рекомендации каждому пользователю в зависимости от популярности фильма и / или жанра. Например, Кинопоиск 250.
* Content-based рекомендательные системы. Эта система использует метаданные элемента, например жанр, режиссер, описание, актеры и т.д. для фильмов. Общая идея, лежащая в основе этих рекомендательных систем, заключается в том, что если человеку нравится конкретный предмет, ему также понравится предмет, похожий на него. Алгоритм будет использовать метаданные прошлых элементов пользователя. Хорошим примером может служить YouTube, где на основе вашей истории он предлагает вам новые видео, которые вы потенциально можете посмотреть.
* Коллаборативная фильтрация. Эти системы пытаются предсказать рейтинг, который пользователь поставит элементу, на основе прошлых оценок и предпочтений других пользователей. Коллаборативной фильтрации не требуются метаданные элемента.

# Простые рекомендации

* Сначала нужно определить метрику, по которой будем сортировать фильмы
* Затем посчитать метрику для каждого фильма
* Отсортировать фильмы, и выбрать топ результатов

Для работы будем использовать популярный датасет MovieLens. Датасет можно скачать по [ссылке](https://www.kaggle.com/rounakbanik/the-movies-dataset).

In [1]:
import pandas as pd
import numpy as np

metadata = pd.read_csv('movies_metadata.csv', low_memory=False)
metadata.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

Одна из базовых метрик - это рейтинг. Однако он не принимает во внимание популярность фильма. Таким образом, фильм с рейтингом 9 от  10 пользователей будет считаться «лучше», чем фильм с рейтингом 8,9 от 10 000 пользователей. Поэтому стоит использовать взвешенный рейтинг - учитывающий средний рейтинг и количество голосов.

<img src="weighted.png">

* v - количество голосов за фильм

* m - минимальное количество голосов, необходимое для внесения в таблицу

* R - средний рейтинг фильма

* C - средний голос по всем фильмам

m - гиперпараметр. Выберем для него 90 перцентиль - то есть для попадания в таблицу, у фильма должно быть больше голосов, чем у 90 процентов других фильмов.

In [2]:
C = metadata['vote_average'].mean()
print(C)

5.618207215133889

In [3]:
m = metadata['vote_count'].quantile(0.90)
print(m)

160.0

In [4]:
q_movies = metadata.copy().loc[metadata['vote_count'] >= m]
q_movies.shape

(4555, 24)

In [5]:
def weighted_rating(x, m=m, C=C):
    ###Реализуйте функцию, которая считает взвешенный рейтинг элемента###
    
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [6]:
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [7]:
q_movies = q_movies.sort_values('score', ascending=False)

In [8]:
q_movies[['title', 'vote_count', 'vote_average', 'score']].head(10)

                             title  vote_count  vote_average     score
314       The Shawshank Redemption      8358.0           8.5  8.445869
834                  The Godfather      6024.0           8.5  8.425439
10309  Dilwale Dulhania Le Jayenge       661.0           9.1  8.421453
12481              The Dark Knight     12269.0           8.3  8.265477
2843                    Fight Club      9678.0           8.3  8.256385
292                   Pulp Fiction      8670.0           8.3  8.251406
522               Schindler's List      4436.0           8.3  8.206639
23673                     Whiplash      4376.0           8.3  8.205404
5481                 Spirited Away      3968.0           8.3  8.196055
2211             Life Is Beautiful      3643.0           8.3  8.187171

Ну вот, мы построили простую рейтинговую таблицу на основании взвешенного рейтинга фильмов. Смахивает на кинопоиск, правда?

# Content-based рекомендации

Идея content-based подхода заключается в том, чтобы по истории действий пользователя создать для него вектор его предпочтений в пространстве предметов и рекомендовать товары, близкие к этому вектору.

Попробуем рекомендовать фильмы, похожие на конкретный фильм. Для этого вычислим попарные косинусные расстояния для всех фильмов на основе их сюжетных описаний и порекомендуем фильмы на основе этой метрики.

<img src="content.png">

In [9]:
metadata['overview'].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

Невозможно вычислить сходство между любыми двумя обзорами в их необработанном виде, поэтому вычислим векторы слов. Как следует из названия, векторы слов - это векторизованное представление слов в документе. Векторы несут семантическое значение. Например, мужчина и король будут иметь векторные представления близко друг к другу, в то время как мужчина и женщина будут иметь представления далеко друг от друга.

Мы вычислим Term Frequency-Inverse Document Frequency (TF-IDF) для каждого документа. Это даст нам матрицу, в которой каждый столбец представляет слово в обзорном словаре (все слова, которые встречаются хотя бы в одном документе), а каждый столбец представляет фильм.

По сути, оценка TF-IDF - это частота встречаемости слова в документе, взвешенная с уменьшением числа документов, в которых оно встречается. Это сделано для уменьшения важности слов, которые часто встречаются в обзорах сюжетов, и, следовательно, их значимости при вычислении окончательной оценки сходства.

TfIdfVectorizer уже реализован в библиотеке scikit. Таким образом, нам нужно проделать следующие шаги:

* импортировать Tfidf из scikit-learn
* убрать стоп-слова, так как они не несут полезной информации
* Замените пропущенные значения пустой строкой
* построить матрицу TF-IDF

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(analyzer='word',ngram_range=(1, 5),min_df=0, stop_words='english') #Определите объект TF-IDF Vectorizer, задайте параметр, который уберет стоп-слова из английского языка

metadata['overview'] = metadata['overview'].fillna('')#Замените все пропущенные значения в колонке пустой строкой

tfidf_matrix = tfidf.fit_transform(metadata['overview']) #Постройте матрицу TF-IDF, вызвав метод fit-transform 

tfidf_matrix.shape

(45466, 4565384)

In [11]:
tfidf.get_feature_names()[5000:5010]

['13 wives issue',
 '13 wives issue local',
 '13 wives issue local authorities',
 '13 wounding',
 '13 year',
 '13 year imprisonment',
 '13 year imprisonment kidnap',
 '13 year imprisonment kidnap murder',
 '13 year old',
 '13 year old american']

Таким образом, у нас получается 75827 различных слов в нашем наборе данных. С помощью этой матрицы мы можем вычислить оценку сходства между двумя фильмами. Мы будем использовать cosine similarity.

<img src="cos.png">

Поскольку мы использовали TF-IDF, вычисление скалярного произведения между каждым вектором напрямую даст вам оценку косинусного сходства. Следовательно, можно использовать linear_kernel() sklearn вместо cosine_similarities(), поскольку он быстрее. Мы получим матрицу размера 45466x45466, где каждый фильм будет вектором-столбцом 1x45466.

In [12]:
from sklearn.metrics.pairwise import linear_kernel

cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [13]:
cosine_sim.shape

(45466, 45466)

In [14]:
cosine_sim[1]

array([0.00192322, 1.        , 0.00475309, ..., 0.        , 0.0026321 ,
       0.0010098 ])

Нужно определить функцию, которая принимает на вход название фильма и выводит список из 10 наиболее похожих фильмов. Нужен механизм для определения индекса фильма в metadata по его названию.

In [15]:
indices = pd.Series(metadata.index, index=metadata['title']).drop_duplicates()

In [16]:
indices[:10]

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
Heat                           5
Sabrina                        6
Tom and Huck                   7
Sudden Death                   8
GoldenEye                      9
dtype: int64

Функция должна выполнять следующие действия:

* Получить индекс фильма по его названию.

* Получить список оценок косинусного сходства для этого конкретного фильма со всеми фильмами. Преобразуйте его в список кортежей, где первый элемент - это его позиция, а второй - оценка сходства.

* Отсортируйте вышеупомянутый список кортежей на основе оценок сходства (второй элемент).

* Получите 10 лучших элементов этого списка. Игнорируйте первый элемент, так как он относится к себе (фильм, наиболее похожий на себя - это он сам).

* Верните заголовки, соответствующие индексам верхних элементов.

In [17]:
def improved_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average']]
    vote_counts = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(0.60)
    qualified = movies[(movies['vote_count'] >= m) & (movies['vote_count'].notnull()) & (movies['vote_average'].notnull())]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    qualified['wr'] = qualified.apply(weighted_rating, axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(6)
    return qualified

In [18]:
def get_recommendations(title, cosine_sim=cosine_sim):
    
    idx = indices[title] #Получите индекс по названию

    sim_scores = list(enumerate(cosine_sim[idx])) # Список оценок сходства для фильма по его индексу из матрицы оценок

    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True) #Отсортируйте массив по скорам (второй элемент)

    sim_scores = sim_scores[1:11] # Возьмите 10 первых элементов (кроме самого фильма)

    movie_indices = [i[0] for i in sim_scores] #Получите массив индексов этих 10 элементов 

    # Верните названия топ10 похожих фильмов
    return metadata['title'].iloc[movie_indices]

In [19]:
get_recommendations('The Dark Knight Rises')

12481                                      The Dark Knight
150                                         Batman Forever
585                                                 Batman
1328                                        Batman Returns
15511                           Batman: Under the Red Hood
9230                    Batman Beyond: Return of the Joker
21194    Batman Unmasked: The Psychology of the Dark Kn...
35983                                    Batman: Bad Blood
18035                                     Batman: Year One
11753                                            Slow Burn
Name: title, dtype: object

# Коллаборативная фильтрация

<img src="collaborative.png">

Помимо метаданных фильмов, у нас есть еще один ценный источник информации: данные о рейтингах пользователей. Наша система рекомендаций может порекомендовать фильм, похожий на «Начало (2010)», на основе оценок пользователей. Другими словами, какие еще фильмы получили аналогичные оценки других пользователей? Это был бы пример коллаборативной фильтрации item-item. Таким примером является рекомендация по типу «Пользователям, которым понравился этот элемент, понравились и другие». Мы будем исследовать набор данных ratings.csv, и сформируем векторы оценок пользователей.

В файле links.csv лежит маппинг разных id фильмов. В частности в ratings.csv (который мы будем использовать) используется movieId. В уже знакомом нам metadata используется tmdbId. Чтобы использовать обе таблички, добавим в metadata колонку с movieId - которая по сути является маппингом на колонку metadata['id'] с помощью links.

In [20]:
links = pd.read_csv('links.csv')

links = links.dropna()

In [21]:
links = links.drop_duplicates(subset=["tmdbId"],keep='first')
id_to_movieId = dict(links[['tmdbId','movieId']].values)

In [22]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               45466 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [23]:
def to_numeric(x):
    try:
        return(int(x))
    except(ValueError):
        return None

In [24]:
# metadata['id'] = pd.to_numeric(metadata['id'],errors='foo')#errors='skip')
metadata['id'] = metadata['id'].apply(to_numeric)

In [25]:
metadata = metadata.dropna(subset=['id'])

metadata['movieId'] = metadata['id'].map(id_to_movieId)

In [26]:
#Создадим словарь отображения названия фильма в его movieId
title_to_id = dict(zip(metadata.title.tolist(), metadata.movieId.tolist()))

In [27]:
title_to_id

{'Toy Story': 1.0,
 'Jumanji': 2.0,
 'Grumpier Old Men': 3.0,
 'Waiting to Exhale': 4.0,
 'Father of the Bride Part II': 5.0,
 'Heat': 131274.0,
 'Sabrina': 915.0,
 'Tom and Huck': 8.0,
 'Sudden Death': 9.0,
 'GoldenEye': 10.0,
 'The American President': 11.0,
 'Dracula: Dead and Loving It': 12.0,
 'Balto': 13.0,
 'Nixon': 14.0,
 'Cutthroat Island': 15.0,
 'Casino': 16.0,
 'Sense and Sensibility': 165321.0,
 'Four Rooms': 18.0,
 'Ace Ventura: When Nature Calls': 19.0,
 'Money Train': 20.0,
 'Get Shorty': 21.0,
 'Copycat': 22.0,
 'Assassins': 23.0,
 'Powder': 24.0,
 'Leaving Las Vegas': 25.0,
 'Othello': 103683.0,
 'Now and Then': 27.0,
 'Persuasion': 164805.0,
 'The City of Lost Children': 29.0,
 'Shanghai Triad': 30.0,
 'Dangerous Minds': 31.0,
 'Twelve Monkeys': 32.0,
 'Wings of Courage': 33.0,
 'Babe': 34.0,
 'Carrington': 35.0,
 'Dead Man Walking': 36.0,
 'Across the Sea of Time': 37.0,
 'It Takes Two': 131582.0,
 'Clueless': 39.0,
 'Cry, the Beloved Country': 123244.0,
 'Richard III': 89323.0,
 'Dead Presidents': 42.0,
 'Restoration': 158390.0,
 'Mortal Kombat': 44.0,
 'To Die For': 45.0,
 'How To Make An American Quilt': 46.0,
 'Se7en': 47.0,
 'Pocahontas': 48.0,
 'When Night Is Falling': 49.0,
 'The Usual Suspects': 50.0,
 'Guardian Angel': 51.0,
 'Mighty Aphrodite': 52.0,
 'Lamerica': 157357.0,
 'The Big Green': 54.0,
 'Georgia': 55.0,
 'Kids of the Round Table': 56.0,
 'Home for the Holidays': 143980.0,
 'The Postman': 1726.0,
 'The Confessional': 59.0,
 'The Indian in the Cupboard': 60.0,
 'Eye for an Eye': 120299.0,
 "Mr. Holland's Opus": 62.0,
 "Don't Be a Menace to South Central While Drinking Your Juice in the Hood": 63.0,
 'Two If by Sea': 64.0,
 'Bio-Dome': 65.0,
 'Lawnmower Man 2: Beyond Cyberspace': 66.0,
 'Two Bits': 67.0,
 'French Twist': 68.0,
 'Friday': 161157.0,
 'From Dusk Till Dawn': 70.0,
 'Fair Game': 160768.0,
 'Kicking and Screaming': 72.0,
 'Les Miserables': 99562.0,
 'Bed of Roses': 98437.0,
 'Big Bully': 75.0,
 'Screamers': 165797.0,
 'Nico Icon': 77.0,
 'The Crossing Guard': 78.0,
 'The Juror': 79.0,
 'The White Balloon': 80.0,
 "Things to Do in Denver When You're Dead": 81.0,
 "Antonia's Line": 82.0,
 'Once Upon a Time... When We Were Colored': 83.0,
 'Last Summer in the Hamptons': 84.0,
 'Angels and Insects': 85.0,
 'White Squall': 86.0,
 'Dunston Checks In': 87.0,
 'Black Sheep': 82726.0,
 'Nick of Time': 89.0,
 'The Journey of August King': 90.0,
 'Mary Reilly': 92.0,
 'Vampire in Brooklyn': 93.0,
 'Beautiful Girls': 94.0,
 'Broken Arrow': 54121.0,
 "A Midwinter's Tale": 96.0,
 'La Haine': 97.0,
 'Shopping': 98.0,
 'Heidi Fleiss: Hollywood Madam': 99.0,
 'City Hall': 100.0,
 'Bottle Rocket': 101.0,
 'Mr. Wrong': 102.0,
 'Unforgettable': 170815.0,
 'Happy Gilmore': 104.0,
 'The Bridges of Madison County': 105.0,
 'Nobody Loves Me': 106.0,
 'Muppet Treasure Island': 107.0,
 'Catwalk': 108.0,
 'Headless Body in Topless Bar': 109.0,
 'Braveheart': 110.0,
 'Taxi Driver': 111.0,
 'Rumble in the Bronx': 112.0,
 'Before and After': 113.0,
 "Margaret's Museum": 114.0,
 'Happiness Is in the Field': 115.0,
 'Anne Frank Remembered': 116.0,
 "The Young Poisoner's Handbook": 117.0,
 'If Lucy Fell': 118.0,
 'Steal Big Steal Little': 119.0,
 'Race the Sun': 120.0,
 'The Boys of St. Vincent': 121.0,
 'Boomerang': 122.0,
 'Chungking Express': 123.0,
 'The Star Maker': 124.0,
 'Flirting with Disaster': 125.0,
 'The Neverending Story III: Escape from Fantasia': 126.0,
 'The Silences of the Palace': 127.0,
 "Jupiter's Wife": 128.0,
 'Pie in the Sky': 152930.0,
 'Angela': 130.0,
 'Frankie Starlight': 131.0,
 'Jade': 132.0,
 'Nueba Yol': 133.0,
 'Sonic Outlaws': 134.0,
 'Down Periscope': 135.0,
 'From the Journals of Jean Seberg': 136.0,
 'Man of the Year': 48593.0,
 'The Neon Bible': 138.0,
 'Target': 114214.0,
 'Up Close & Personal': 140.0,
 'The Birdcage': 141.0,
 'Virgin Mary': 143.0,
 'The Brothers McMullen': 144.0,
 'Bad Boys': 132561.0,
 'The Amazing Panda Adventure': 146.0,
 'The Basketball Diaries': 147.0,
 'An Awfully Big Adventure': 148.0,
 'Amateur': 149.0,
 'Apollo 13': 150.0,
 'Rob Roy': 151.0,
 'The Addiction': 152.0,
 'Batman Forever': 153.0,
 'Belle de Jour': 154.0,
 'Beyond Rangoon': 155.0,
 'Blue in the Face': 156.0,
 'Canadian Bacon': 157.0,
 'Casper': 158.0,
 'Clockers': 159.0,
 'Congo': 160.0,
 'Crimson Tide': 161.0,
 'Crumb': 162.0,
 'Desperado': 163.0,
 'Devil in a Blue Dress': 164.0,
 'Die Hard: With a Vengeance': 165.0,
 'The Doom Generation': 166.0,
 'Feast of July': 167.0,
 'First Knight': 168.0,
 'Free Willy 2 - The Adventure Home': 169.0,
 'Hackers': 170.0,
 'Jeffrey': 171.0,
 'Johnny Mnemonic': 172.0,
 'Judge Dredd': 173.0,
 'Jury Duty': 174.0,
 'Kids': 175.0,
 'Living in Oblivion': 176.0,
 'Lord of Illusions': 177.0,
 'Love & Human Remains': 178.0,
 'Mad Love': 159809.0,
 'Mallrats': 180.0,
 'Mighty Morphin Power Rangers: The Movie': 181.0,
 'Moonlight and Valentino': 182.0,
 'Mute Witness': 183.0,
 'Nadja': 184.0,
 'The Net': 157148.0,
 'Nine Months': 186.0,
 'Party Girl': 127650.0,
 'The Prophecy': 188.0,
 'Reckless': 71804.0,
 'Safe': 94405.0,
 'The Scarlet Letter': 106493.0,
 'The Show': 139399.0,
 'Showgirls': 193.0,
 'Smoke': 194.0,
 'Something to Talk About': 195.0,
 'Species': 196.0,
 'The Stars Fell on Henrietta': 197.0,
 'Strange Days': 198.0,
 'The Umbrellas of Cherbourg': 199.0,
 'The Tie That Binds': 200.0,
 'Three Wishes': 201.0,
 'Total Eclipse': 202.0,
 'To Wong Foo, Thanks for Everything! Julie Newmar': 203.0,
 'Under Siege 2: Dark Territory': 204.0,
 'Unstrung Heroes': 205.0,
 'Unzipped': 206.0,
 'A Walk in the Clouds': 207.0,
 'Waterworld': 208.0,
 "White Man's Burden": 209.0,
 'Wild Bill': 95804.0,
 'The Browning Version': 34482.0,
 'Bushwhacked': 212.0,
 'Burnt by the Sun': 213.0,
 'Before the Rain': 214.0,
 'Before Sunrise': 215.0,
 'Billy Madison': 216.0,
 'The Babysitter': 217.0,
 'Boys on the Side': 218.0,
 'The Cure': 93330.0,
 'Castle Freak': 220.0,
 'Circle of Friends': 222.0,
 'Clerks': 223.0,
 'Don Juan DeMarco': 224.0,
 'Disclosure': 225.0,
 'Dream Man': 226.0,
 'Drop Zone': 227.0,
 'Destiny Turns on the Radio': 228.0,
 'Death and the Maiden': 229.0,
 'Dolores Claiborne': 230.0,
 'Dumb and Dumber': 231.0,
 'Eat Drink Man Woman': 232.0,
 'Exotica': 233.0,
 'Exit to Eden': 234.0,
 'Ed Wood': 235.0,
 'French Kiss': 236.0,
 'Forget Paris': 237.0,
 'Far from Home: The Adventures of Yellow Dog': 238.0,
 'A Goofy Movie': 239.0,
 'Hideaway': 240.0,
 'Fluke': 151519.0,
 'Farinelli': 242.0,
 'Gordy': 243.0,
 'Gumby: The Movie': 244.0,
 'The Glass Shield': 245.0,
 'Hoop Dreams': 246.0,
 'Heavenly Creatures': 247.0,
 'Houseguest': 248.0,
 'Immortal Beloved': 249.0,
 'Heavyweights': 114353.0,
 'The Hunted': 6219.0,
 'I.Q.': 252.0,
 'Interview with the Vampire': 253.0,
 'Jefferson in Paris': 254.0,
 'The Jerky Boys': 255.0,
 'Junior': 170255.0,
 'Just Cause': 257.0,
 "A Kid in King Arthur's Court": 258.0,
 'Kiss of Death': 41585.0,
 'Star Wars': 260.0,
 'Little Women': 7054.0,
 'A Little Princess': 174235.0,
 'Ladybird Ladybird': 263.0,
 "L'Enfer": 264.0,
 'Like Water for Chocolate': 265.0,
 'Legends of the Fall': 266.0,
 'Major Payne': 267.0,
 'Little Odessa': 268.0,
 'Mi Vida Loca': 269.0,
 'Love Affair': 6837.0,
 'Losing Isaiah': 271.0,
 'The Madness of King George': 272.0,
 "Mary Shelley's Frankenstein": 273.0,
 'Man of the House': 31867.0,
 'Mixed Nuts': 275.0,
 'Milk Money': 276.0,
 'Miracle on 34th Street': 2398.0,
 'Miami Rhapsody': 278.0,
 'My Family': 279.0,
 'Murder in the First': 280.0,
 "Nobody's Fool": 26577.0,
 'Nell': 282.0,
 'New Jersey Drive': 283.0,
 'New York Cop': 284.0,
 'Beyond Bedlam': 285.0,
 'Nemesis 2 - Nebula': 286.0,
 'Nina Takes a Lover': 287.0,
 'Natural Born Killers': 288.0,
 'Only You': 289.0,
 'Once Were Warriors': 290.0,
 'Poison Ivy II: Lily': 291.0,
 'Outbreak': 292.0,
 'Leon: The Professional': 293.0,
 'The Perez Family': 294.0,
 "A Pyromaniac's Love Story": 295.0,
 'Pulp Fiction': 296.0,
 'Panther': 297.0,
 'Pushing Hands': 298.0,
 'Priest': 86835.0,
 'Quiz Show': 300.0,
 'Picture Bride': 301.0,
 'Queen Margot': 302.0,
 'The Quick and the Dead': 67068.0,
 'Roommates': 304.0,
 'Prêt-à-Porter': 305.0,
 'Three Colors: Red': 306.0,
 'Three Colors: Blue': 307.0,
 'Three Colors: White': 308.0,
 'Red Firecracker, Green Firecracker': 309.0,
 'Rent-a-Kid': 310.0,
 'Relative Fear': 311.0,
 'Stuart Saves His Family': 312.0,
 'The Swan Princess': 313.0,
 'The Secret of Roan Inish': 314.0,
 'The Specialist': 315.0,
 'Stargate': 316.0,
 'The Santa Clause': 317.0,
 'The Shawshank Redemption': 318.0,
 'Shallow Grave': 319.0,
 'Suture': 320.0,
 'Strawberry and Chocolate': 321.0,
 'Swimming with Sharks': 322.0,
 'The Sum of Us': 324.0,
 'Senior Trip': 325.0,
 'To Live': 326.0,
 'Tank Girl': 327.0,
 'Tales from the Crypt: Demon Knight': 328.0,
 'Star Trek: Generations': 329.0,
 'Tales from the Hood': 330.0,
 'Tom & Viv': 331.0,
 'Village of the Damned': 2553.0,
 'Tommy Boy': 333.0,
 'Vanya on 42nd Street': 334.0,
 'The Underneath': 122593.0,
 'The Walking Dead': 8220.0,
 "What's Eating Gilbert Grape": 337.0,
 'Virtuosity': 338.0,
 'While You Were Sleeping': 339.0,
 'The War': 95604.0,
 'Double Happiness': 341.0,
 "Muriel's Wedding": 342.0,
 'The Baby-Sitters Club': 343.0,
 'Ace Ventura: Pet Detective': 344.0,
 'The Adventures of Priscilla, Queen of the Desert': 345.0,
 'Backbeat': 346.0,
 'Bitter Moon': 347.0,
 'Bullets Over Broadway': 348.0,
 'Clear and Present Danger': 349.0,
 'The Client': 144504.0,
 'Corrina, Corrina': 351.0,
 'Crooklyn': 352.0,
 'The Crow': 353.0,
 'Cobb': 354.0,
 'The Flintstones': 355.0,
 'Forrest Gump': 356.0,
 'Four Weddings and a Funeral': 357.0,
 'Higher Learning': 358.0,
 'I Like It Like That': 359.0,
 'I Love Trouble': 124230.0,
 'It Could Happen to You': 361.0,
 'The Jungle Book': 137857.0,
 'The Wonderful, Horrible Life of Leni Riefenstahl': 363.0,
 'The Lion King': 364.0,
 'Little Buddha': 365.0,
 'New Nightmare': 366.0,
 'The Mask': 156708.0,
 'Maverick': 368.0,
 'Mrs. Parker and the Vicious Circle': 369.0,
 'The Naked Gun 33⅓: The Final Insult': 370.0,
 'The Paper': 371.0,
 'Reality Bites': 372.0,
 'Red Rock West': 373.0,
 'Ri¢hie Ri¢h': 374.0,
 'Safe Passage': 375.0,
 'The River Wild': 376.0,
 'Speed': 377.0,
 'Speechless': 378.0,
 'Timecop': 379.0,
 'True Lies': 380.0,
 'When a Man Loves a Woman': 381.0,
 'Wolf': 148078.0,
 'Wyatt Earp': 383.0,
 'Bad Company': 5426.0,
 'A Man of No Importance': 385.0,
 'S.F.W.': 386.0,
 'A Low Down Dirty Shame': 387.0,
 'Boys Life: Three Stories of Love, Lust, and Liberation': 388.0,
 'Colonel Chabert': 389.0,
 'Faster, Pussycat! Kill! Kill!': 390.0,
 "Jason's Lyric": 391.0,
 'The Secret Adventures of Tom Thumb': 392.0,
 'Street Fighter': 393.0,
 'Coldblooded': 394.0,
 'Desert Winds': 395.0,
 'Fall Time': 396.0,
 'The Fear': 397.0,
 'Frank and Ollie': 398.0,
 'Girl in the Cadillac': 399.0,
 'Homage': 400.0,
 'Mirage': 175451.0,
 'Open Season': 48414.0,
 'Dos Crímenes': 403.0,
 'Brother Minister: The Assassination of Malcolm X': 404.0,
 'Highlander: The Final Dimension': 405.0,
 'Federal Hill': 406.0,
 'In the Mouth of Madness': 407.0,
 '8 Seconds': 408.0,
 'Above the Rim': 409.0,
 'Addams Family Values': 410.0,
 'Martin Lawrence: You So Crazy': 411.0,
 'The Age of Innocence': 98027.0,
 'Airheads': 413.0,
 'The Air Up There': 414.0,
 'Another Stakeout': 415.0,
 'Bad Girls': 103523.0,
 'Barcelona': 417.0,
 'Being Human': 418.0,
 'The Beverly Hillbillies': 419.0,
 'Beverly Hills Cop III': 420.0,
 'Black Beauty': 8929.0,
 'Blink': 422.0,
 'Blown Away': 91112.0,
 'Blue Chips': 424.0,
 'Blue Sky': 425.0,
 'Body Snatchers': 426.0,
 'Boxing Helena': 427.0,
 'A Bronx Tale': 428.0,
 'Cabin Boy': 429.0,
 'Calendar Girl': 430.0,
 "Carlito's Way": 431.0,
 "City Slickers II: The Legend of Curly's Gold": 432.0,
 'Clean Slate': 433.0,
 'Cliffhanger': 434.0,
 'Coneheads': 435.0,
 'Color of Night': 436.0,
 'Cops & Robbersons': 437.0,
 'The Cowboy Way': 438.0,
 'Dangerous Game': 439.0,
 'Dave': 440.0,
 'Dazed and Confused': 441.0,
 'Demolition Man': 442.0,
 'The Endless Summer 2': 443.0,
 'Even Cowgirls Get the Blues': 444.0,
 'Fatal Instinct': 445.0,
 'Farewell My Concubine': 446.0,
 'The Favor': 447.0,
 'Fearless': 46322.0,
 'Fear of a Black Hat': 449.0,
 'With Honors': 450.0,
 'Flesh and Bone': 451.0,
 "Widows' Peak": 452.0,
 'For Love or Money': 168364.0,
 'The Firm': 95624.0,
 'Free Willy': 455.0,
 'Fresh': 158735.0,
 'The Fugitive': 55854.0,
 'Geronimo: An American Legend': 458.0,
 'The Getaway': 8016.0,
 'Getting Even with Dad': 460.0,
 'Go Fish': 461.0,
 'A Good Man in Africa': 462.0,
 'Guilty as Sin': 463.0,
 'Hard Target': 464.0,
 'Heaven & Earth': 465.0,
 'Hot Shots! Part Deux': 466.0,
 'Live Nude Girls': 467.0,
 'The Englishman Who Went Up a Hill But Came Down a Mountain': 468.0,
 'The House of the Spirits': 469.0,
 'House Party 3': 470.0,
 'The Hudsucker Proxy': 471.0,
 "I'll Do Anything": 472.0,
 'In the Army Now': 473.0,
 'In the Line of Fire': 474.0,
 'In the Name of the Father': 475.0,
 'The Inkwell': 476.0,
 "What's Love Got to Do with It": 477.0,
 'Jimmy Hollywood': 478.0,
 'Judgment Night': 479.0,
 'Jurassic Park': 480.0,
 'Kalifornia': 481.0,
 'Killing Zoe': 482.0,
 'King of the Hill': 483.0,
 'Lassie': 47805.0,
 'Last Action Hero': 485.0,
 'Life With Mikey': 486.0,
 'Lightning Jack': 487.0,
 'M. Butterfly': 488.0,
 'Made in America': 489.0,
 'Malice': 490.0,
 'The Man without a Face': 491.0,
 'Manhattan Murder Mystery': 492.0,
 'Menace II Society': 493.0,
 'Executive Decision': 494.0,
 'In the Realm of the Senses': 495.0,
 'What Happened Was...': 496.0,
 'Much Ado About Nothing': 171905.0,
 'Mr. Jones': 118922.0,
 'Mr. Wonderful': 499.0,
 'Mrs. Doubtfire': 500.0,
 'Naked': 163953.0,
 'The Next Karate Kid': 502.0,
 'The New Age': 503.0,
 'No Escape': 140713.0,
 'North': 79505.0,
 'Orlando': 506.0,
 'A Perfect World': 507.0,
 'Philadelphia': 508.0,
 'The Piano': 509.0,
 'Poetic Justice': 510.0,
 'The Program': 142765.0,
 'The Puppet Masters': 512.0,
 'Radioland Murders': 513.0,
 'The Ref': 514.0,
 'The Remains of the Day': 515.0,
 'Renaissance Man': 516.0,
 'Rising Sun': 517.0,
 'The Road to Wellville': 518.0,
 'RoboCop 3': 519.0,
 'Robin Hood: Men in Tights': 520.0,
 'Romeo Is Bleeding': 521.0,
 'Romper Stomper': 522.0,
 'Ruby in Paradise': 523.0,
 'Rudy': 524.0,
 'The Saint of Fort Washington': 525.0,
 'Savage Nights': 526.0,
 "Schindler's List": 527.0,
 'The Scout': 528.0,
 'Searching for Bobby Fischer': 529.0,
 'Second Best': 530.0,
 'The Secret Garden': 166179.0,
 'Serial Mom': 532.0,
 'The Shadow': 533.0,
 'Shadowlands': 534.0,
 'Short Cuts': 535.0,
 'A Simple Twist of Fate': 536.0,
 'Sirens': 537.0,
 'Six Degrees of Separation': 538.0,
 'Sleepless in Seattle': 539.0,
 'Sliver': 540.0,
 'Blade Runner': 541.0,
 'Son in Law': 542.0,
 'So I Married an Axe Murderer': 543.0,
 'Striking Distance': 544.0,
 'Harem': 545.0,
 'Super Mario Bros.': 546.0,
 'Surviving the Game': 547.0,
 'Terminal Velocity': 548.0,
 'Thirty Two Short Films About Glenn Gould': 549.0,
 'Threesome': 550.0,
 'The Nightmare Before Christmas': 551.0,
 'The Three Musketeers': 92843.0,
 'Tombstone': 553.0,
 'Trial by Jury': 554.0,
 'True Romance': 555.0,
 'The War Room': 556.0,
 'The Pagemaster': 558.0,
 'Paris, France': 559.0,
 'The Beans of Egypt, Maine': 560.0,
 'Killer': 90935.0,
 'Welcome to the Dollhouse': 562.0,
 'Germinal': 563.0,
 'Chasers': 564.0,
 'Cronos': 565.0,
 'Naked in New York': 566.0,
 'Kika': 567.0,
 'Bhaji on the Beach': 568.0,
 'Little Big League': 569.0,
 'The Slingshot': 570.0,
 'Wide Eyed and Legless': 571.0,
 'Foreign Student': 572.0,
 'Ciao, Professore!': 573.0,
 'Spanking the Monkey': 574.0,
 'The Little Rascals': 575.0,
 'À la mode': 576.0,
 'Andre': 577.0,
 'The Escort': 140301.0,
 'Princess Caraboo': 580.0,
 'The Celluloid Closet': 581.0,
 'Café au Lait': 582.0,
 'Dear Diary': 583.0,
 "I Don't Want to Talk About It": 584.0,
 'The Brady Bunch Movie': 585.0,
 'Home Alone': 586.0,
 'Ghost': 172421.0,
 'Aladdin': 119061.0,
 'Terminator 2: Judgment Day': 589.0,
 'Dances with Wolves': 590.0,
 'Tough and Deadly': 591.0,
 'Batman': 26152.0,
 'The Silence of the Lambs': 593.0,
 'Snow White and the Seven Dwarfs': 594.0,
 'Beauty and the Beast': 168366.0,
 'Pinocchio': 126693.0,
 'Pretty Woman': 597.0,
 'Window to Paris': 598.0,
 'The Wild Bunch': 599.0,
 'Love and a .45': 600.0,
 "The Wooden Man's Bride": 601.0,
 'A Great Day in Harlem': 602.0,
 'Bye Bye Love': 603.0,
 'One Fine Day': 605.0,
 'Candyman: Farewell to the Flesh': 606.0,
 'Century': 607.0,
 'Fargo': 608.0,
 'Homeward Bound II: Lost in San Francisco': 609.0,
 'Heavy Metal': 610.0,
 'Hellraiser: Bloodline': 611.0,
 'The Pallbearer': 612.0,
 'Jane Eyre': 174849.0,
 'Loaded': 131628.0,
 'Bread and Chocolate': 615.0,
 'The Aristocats': 616.0,
 'The Flower of My Secret': 617.0,
 'Two Much': 618.0,
 'Ed': 619.0,
 'Scream of Stone': 620.0,
 'My Favorite Season': 621.0,
 'A Modern Affair': 623.0,
 'Condition Red': 624.0,
 'Halfaouine: Boy of the Terraces': 625.0,
 'A Thin Line Between Love and Hate': 626.0,
 'The Last Supper': 627.0,
 'Primal Fear': 628.0,
 'Rude': 629.0,
 'Carried Away': 630.0,
 'All Dogs Go to Heaven 2': 631.0,
 'Land and Freedom': 632.0,
 'Denise Calls Up': 633.0,
 'Theodore Rex': 634.0,
 'A Family Thing': 635.0,
 'Frisk': 636.0,
 'Sgt. Bilko': 637.0,
 'Jack & Sarah': 638.0,
 'Girl 6': 639.0,
 'Diabolique': 7116.0,
 'Little Indian, Big City': 641.0,
 'Roula': 642.0,
 'Peanuts – Die Bank zahlt alles': 643.0,
 'Happy Weekend': 644.0,
 'Nelly and Monsieur Arnaud': 645.0,
 'Courage Under Fire': 647.0,
 'Mission: Impossible': 648.0,
 'Cold Fever': 649.0,
 'Moll Flanders': 650.0,
 'The Superwife': 651.0,
 '301, 302': 652.0,
 'DragonHeart': 653.0,
 'Und keiner weint mir nach': 654.0,
 "My Mother's Courage": 655.0,
 'Eddie': 656.0,
 'Yankee Zulu': 657.0,
 "Billy's Holiday": 658.0,
 'Purple Noon': 659.0,
 'August': 112391.0,
 'James and the Giant Peach': 661.0,
 'Fear': 153378.0,
 'Kids in the Hall: Brain Candy': 663.0,
 'Faithful': 664.0,
 'Underground': 146564.0,
 'All Things Fair': 666.0,
 'Bloodsport II': 667.0,
 'Pather Panchali': 668.0,
 'The World of Apu': 670.0,
 'Mystery Science Theater 3000: The Movie': 671.0,
 'Tarantella': 672.0,
 'Space Jam': 673.0,
 'Barbarella': 674.0,
 'Hostile Intentions': 675.0,
 'They Bite': 676.0,
 'Some Folks Call It a Sling Blade': 678.0,
 'The Run of the Country': 679.0,
 'Alphaville': 680.0,
 'Coup de Torchon': 681.0,
 'Tigrero: A Film That Was Never Made': 682.0,
 'The Eye of Vichy': 683.0,
 'Windows': 684.0,
 "It's My Party": 685.0,
 'Country Life': 687.0,
 'Operation Dumbo Drop': 688.0,
 'The Promise': 173729.0,
 'Mrs. Winterbourne': 691.0,
 'Solo': 135711.0,
 'Under The Domim Tree': 693.0,
 'The Substitute': 139727.0,
 'True Crime': 2561.0,
 'Butterfly Kiss': 173645.0,
 'Feeling Minnesota': 697.0,
 'Delta of Venus': 698.0,
 'To Cross the Rubicon': 699.0,
 'Angus': 700.0,
 'Priest Daens': 701.0,
 'Faces': 702.0,
 'Boys': 130628.0,
 'The Quest': 704.0,
 'Cosi': 705.0,
 'Sunset Park': 706.0,
 'Mulholland Falls': 707.0,
 'The Truth About Cats & Dogs': 708.0,
 'Oliver & Company': 709.0,
 'Celtic Pride': 710.0,
 'Flipper': 8850.0,
 'Captives': 712.0,
 'Of Love and Shadows': 713.0,
 'Dead Man': 714.0,
 'The Horseman on the Roof': 715.0,
 'Switchblade Sisters': 716.0,
 'Mouth to Mouth': 46478.0,
 'The Visitors': 148398.0,
 'Multiplicity': 719.0,
 'The Haunted World of Edward D. Wood, Jr.': 722.0,
 'Two Friends': 155382.0,
 'The Craft': 724.0,
 'The Great White Hype': 725.0,
 'Last Dance': 726.0,
 'War Stories Our Mother Never Told Us': 727.0,
 'Cold Comfort Farm': 728.0,
 'Institute Benjamenta, or This Dream People Call Human Life': 729.0,
 "Heaven's Prisoners": 731.0,
 'Original Gangstas': 732.0,
 'The Rock': 733.0,
 'Getting Away with Murder': 734.0,
 'Cemetery Man': 735.0,
 'Twister': 7781.0,
 'Barb Wire': 737.0,
 'Le Garçu': 738.0,
 'Honeymoon': 163120.0,
 'Ghost in the Shell': 168612.0,
 'Thinner': 742.0,
 'Spy Hard': 743.0,
 'Brothers in Trouble': 744.0,

В вашем распоряжении есть два файла - ratings.csv и ratings_small.csv. Второй файлик содержит намного меньше информации, но для быстрой работы давайте использовать его (хотя качество, конечно же, получится хуже). При желании вы можете обучить модель на полном файле рейтингов (ratings.csv).

In [28]:
ratings = pd.read_csv('ratings_small.csv')

In [29]:
ratings.tail(3)

        userId  movieId  rating   timestamp
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

In [30]:
ratings.shape

(100004, 4)

In [31]:
a = ratings['userId'].value_counts()<50
a

547    False
564    False
624    False
15     False
73     False
       ...
221     True
444     True
484     True
35      True
485     True
Name: userId, Length: 671, dtype: bool

In [32]:
for i in a.index:
    print(i)

547
564
624
15
73
452
468
380
311
30
294
509
580
213
212
472
388
23
457
518
461
232
102
262
475
306
119
654
358
529
575
105
56
353
664
48
587
165
596
195
384
463
605
481
665
607
19
285
199
150
405
268
242
505
615
480
514
130
299
17
423
574
111
346
157
187
128
407
402
77
382
598
134
355
537
243
430
534
313
585
95
561
608
427
239
220
247
460
312
577
387
292
431
544
652
78
439
648
176
88
287
426
200
562
522
500
295
149
240
270
442
177
236
303
408
22
373
412
152
367
471
466
558
214
345
125
57
205
394
253
185
4
501
275
597
363
553
41
433
94
627
584
434
599
72
86
118
283
99
342
34
265
133
344
189
26
620
328
646
418
350
61
428
595
533
21
510
371
83
519
81
93
563
250
235
520
390
487
324
647
626
91
516
159
378
75
255
659
254
396
641
316
609
417
297
486
548
33
582
120
525
219
550
527
592
148
531
182
178
602
559
97
309
656
570
528
282
523
496
245
175
68
92
201
386
110
441
450
362
483
251
168
84
8
671
234
263
603
391
502
169
304
38
381
43
493
536
85
416
572
655
339
497
217
36
623
257
67
560
5
188
370
160
49
196
614
385
479
248
420
20
63
330
621
103
230
132
660
545
273
238
161
649
590
224
222
7
291
447
628
453
551
124
422
569
352
70
610
164
216
281
414
163
138
69
333
121
137
293
59
494
530
143
2
96
104
458
202
473
288
555
594
617
298
198
321
478
492
244
146
406
58
401
271
307
98
379
593
361
365
42
470
31
139
667
52
625
290
456
612
193
89
557
546
467
151
554
524
126
535
491
542
327
197
432
436
383
39
12
308
142
606
228
190
658
318
482
397
571
376
277
400
320
662
338
279
586
166
241
192
79
211
639
101
60
425
117
315
215
488
62
278
398
348
13
613
284
451
354
588
153
532
369
409
155
653
18
462
393
389
3
28
419
261
90
194
136
581
74
521
640
66
32
171
508
208
421
10
50
359
601
476
207
543
140
53
9
156
184
106
6
300
54
503
237
131
286
322
619
589
40
218
517
186
343
474
260
115
267
144
183
122
351
440
443
666
616
173
206
644
632
266
340
272
46
82
274
465
252
552
360
145
179
11
576
147
573
55
404
47
507
203
568
669
80
233
223
364
226
642
302
611
600
578
334
314
629
366
567
515
374
661
264
372
123
499
229
258
332
231
633
210
37
107
87
204
455
51
618
631
622
108
336
670
511
141
636
464
645
424
357
162
591
305
191
541
16
650
259
225
410
565
512
181
256
326
454
65
429
526
411
113
170
539
129
663
415
246
227
154
25
556
446
116
377
637
114
495
44
392
538
100
375
331
269
172
167
504
489
449
403
437
643
180
335
349
435
323
27
109
301
630
71
395
635
341
280
459
634
413
490
329
549
29
566
135
317
513
347
477
24
127
469
158
64
276
506
174
112
368
45
356
579
319
14
448
583
76
310
1
498
438
638
651
325
399
289
209
296
445
337
249
540
604
668
657
221
444
484
35
485

In [33]:
ratings['userId'].value_counts().values[428:]

array([49, 49, 49, 49, 48, 48, 48, 48, 47, 46, 46, 46, 46, 46, 46, 46, 46,
       46, 45, 45, 45, 45, 44, 44, 44, 44, 44, 44, 43, 43, 43, 43, 43, 42,
       42, 42, 42, 41, 41, 41, 41, 41, 41, 40, 40, 40, 40, 40, 40, 40, 39,
       39, 39, 39, 39, 39, 39, 39, 39, 39, 38, 38, 38, 38, 38, 38, 38, 38,
       38, 38, 38, 38, 38, 37, 37, 37, 37, 36, 36, 36, 36, 36, 35, 35, 35,
       34, 34, 34, 34, 34, 34, 34, 33, 33, 33, 33, 33, 33, 33, 32, 32, 32,
       32, 32, 32, 32, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 30,
       30, 30, 30, 30, 30, 30, 29, 29, 29, 29, 29, 28, 28, 28, 27, 27, 27,
       27, 27, 27, 27, 27, 27, 27, 27, 26, 26, 26, 26, 26, 26, 26, 26, 26,
       25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 24, 24, 24,
       24, 24, 24, 24, 24, 24, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 22,
       22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 21, 21, 21,
       21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 20, 20, 20, 20, 20, 20,
       20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20,
       20, 20, 20, 20, 20])

In [34]:
for count,i in enumerate(ratings['userId'].value_counts().values>=50):
#     print(count)
    if(i==False):
        print(count)

427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670

In [35]:
more50marks = list(ratings['userId'].value_counts().index)[0:427]
drop_userid = list(ratings['userId'].value_counts().index)[428:]

In [36]:
drop_userid.sort()
# drop_userid

In [37]:
more50marks # эти id нужно оставить а остальные удалить

[547,
 564,
 624,
 15,
 73,
 452,
 468,
 380,
 311,
 30,
 294,
 509,
 580,
 213,
 212,
 472,
 388,
 23,
 457,
 518,
 461,
 232,
 102,
 262,
 475,
 306,
 119,
 654,
 358,
 529,
 575,
 105,
 56,
 353,
 664,
 48,
 587,
 165,
 596,
 195,
 384,
 463,
 605,
 481,
 665,
 607,
 19,
 285,
 199,
 150,
 405,
 268,
 242,
 505,
 615,
 480,
 514,
 130,
 299,
 17,
 423,
 574,
 111,
 346,
 157,
 187,
 128,
 407,
 402,
 77,
 382,
 598,
 134,
 355,
 537,
 243,
 430,
 534,
 313,
 585,
 95,
 561,
 608,
 427,
 239,
 220,
 247,
 460,
 312,
 577,
 387,
 292,
 431,
 544,
 652,
 78,
 439,
 648,
 176,
 88,
 287,
 426,
 200,
 562,
 522,
 500,
 295,
 149,
 240,
 270,
 442,
 177,
 236,
 303,
 408,
 22,
 373,
 412,
 152,
 367,
 471,
 466,
 558,
 214,
 345,
 125,
 57,
 205,
 394,
 253,
 185,
 4,
 501,
 275,
 597,
 363,
 553,
 41,
 433,
 94,
 627,
 584,
 434,
 599,
 72,
 86,
 118,
 283,
 99,
 342,
 34,
 265,
 133,
 344,
 189,
 26,
 620,
 328,
 646,
 418,
 350,
 61,
 428,
 595,
 533,
 21,
 510,
 371,
 83,
 519,
 81,
 93,
 563,
 250,
 235,
 520,
 390,
 487,
 324,
 647,
 626,
 91,
 516,
 159,
 378,
 75,
 255,
 659,
 254,
 396,
 641,
 316,
 609,
 417,
 297,
 486,
 548,
 33,
 582,
 120,
 525,
 219,
 550,
 527,
 592,
 148,
 531,
 182,
 178,
 602,
 559,
 97,
 309,
 656,
 570,
 528,
 282,
 523,
 496,
 245,
 175,
 68,
 92,
 201,
 386,
 110,
 441,
 450,
 362,
 483,
 251,
 168,
 84,
 8,
 671,
 234,
 263,
 603,
 391,
 502,
 169,
 304,
 38,
 381,
 43,
 493,
 536,
 85,
 416,
 572,
 655,
 339,
 497,
 217,
 36,
 623,
 257,
 67,
 560,
 5,
 188,
 370,
 160,
 49,
 196,
 614,
 385,
 479,
 248,
 420,
 20,
 63,
 330,
 621,
 103,
 230,
 132,
 660,
 545,
 273,
 238,
 161,
 649,
 590,
 224,
 222,
 7,
 291,
 447,
 628,
 453,
 551,
 124,
 422,
 569,
 352,
 70,
 610,
 164,
 216,
 281,
 414,
 163,
 138,
 69,
 333,
 121,
 137,
 293,
 59,
 494,
 530,
 143,
 2,
 96,
 104,
 458,
 202,
 473,
 288,
 555,
 594,
 617,
 298,
 198,
 321,
 478,
 492,
 244,
 146,
 406,
 58,
 401,
 271,
 307,
 98,
 379,
 593,
 361,
 365,
 42,
 470,
 31,
 139,
 667,
 52,
 625,
 290,
 456,
 612,
 193,
 89,
 557,
 546,
 467,
 151,
 554,
 524,
 126,
 535,
 491,
 542,
 327,
 197,
 432,
 436,
 383,
 39,
 12,
 308,
 142,
 606,
 228,
 190,
 658,
 318,
 482,
 397,
 571,
 376,
 277,
 400,
 320,
 662,
 338,
 279,
 586,
 166,
 241,
 192,
 79,
 211,
 639,
 101,
 60,
 425,
 117,
 315,
 215,
 488,
 62,
 278,
 398,
 348,
 13,
 613,
 284,
 451,
 354,
 588,
 153,
 532,
 369,
 409,
 155,
 653,
 18,
 462,
 393,
 389,
 3,
 28,
 419,
 261,
 90,
 194,
 136]

In [38]:
 #Отфильтруйте таблицу - оставьте только те userId, которые проставили не менее 50 оценок
ratings_f = ratings[ratings['userId'].isin(more50marks)]

In [39]:
ratings_f

        userId  movieId  rating   timestamp
20           2       10     4.0   835355493
21           2       17     5.0   835355681
22           2       39     5.0   835355604
23           2       47     4.0   835355552
24           2       50     4.0   835355586
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[92421 rows x 4 columns]

In [40]:
#Создайте pivot таблицу из отфильтрованной ratings_f. 
# Индексы - фильмы, колонки - пользователи, значения - рейтинг
ratings_pivot = pd.pivot_table(ratings_f,index=["movieId"],columns = 'userId',values=["rating"])
ratings_pivot.head()

        rating                                          ...                   \
userId     2   3   4    5    7   8   12   13   15  17   ...  655 656 658 659
movieId                                                 ...
1          NaN NaN NaN  NaN  3.0 NaN NaN  5.0  2.0 NaN  ...  NaN NaN NaN NaN
2          NaN NaN NaN  NaN  NaN NaN NaN  NaN  2.0 NaN  ...  4.0 NaN NaN NaN
3          NaN NaN NaN  4.0  NaN NaN NaN  NaN  NaN NaN  ...  NaN NaN NaN NaN
4          NaN NaN NaN  NaN  NaN NaN NaN  NaN  NaN NaN  ...  NaN NaN NaN NaN
5          NaN NaN NaN  NaN  NaN NaN NaN  NaN  4.5 NaN  ...  NaN NaN NaN NaN


userId   660  662  664  665 667  671
movieId
1        2.5  NaN  3.5  NaN NaN  5.0
2        NaN  5.0  NaN  3.0 NaN  NaN
3        NaN  NaN  NaN  3.0 NaN  NaN
4        NaN  NaN  NaN  NaN NaN  NaN
5        NaN  NaN  NaN  3.0 NaN  NaN

[5 rows x 427 columns]

##### Matrix Factorization.

Что ж, теперь в нашем распоряжении есть матрица оценок пользователь-айтем. Из математики мы знаем, что любую матрицу можно разложить на произведение трех матриц - например алгоритмом SVD. Но матрицы оценок очень разрежены, 99 % — обычное дело. А SVD не знает, что такое пропуски. Заполнять их средним значением не очень хочется. И в целом, нас не очень интересует матрица сингулярных значений — мы просто хотим получить скрытое представление пользователей и предметов, которое при перемножении будет приближать истинный рейтинг. Можно сразу раскладывать на две матрицы.

<img src="svd.png">

Что же делать с пропусками? Забить на них. Оказалось, что можно успешно обучать приближать рейтинги по метрике RMSE с помощью SGD или ALS, вообще игнорируя пропуски. Первый такой алгоритм — Funk SVD, который придумали в 2006 году в ходе решения соревнования от Netflix.

Но например в задаче рекомендации товаров, мы имеем уже не матрицу оценок, а матрицу некоторых событий. Она будет состоять в основном из нулей и единичек, иногда каких то чисел побольше. Таким образом, у  нас будут присутствовать только положительные примеры. У нас нет примеров товаров, которые человек никогда не купит - получается мы не можем понять, человек не видел товар или он ему не нравится. Таким образом фидбэк от пользователя может быть двух типов:

* Explicit feedback - есть положительные и отрицательные примеры.
* Implicit feedback - есть только положительные.

Так вот, забить на пропуски получается только в случае задачи explicit feedback. В случае implicit можно заполнить пропущенные значения например нулем, и настроить веса в оптимизируемом функционале - низкие для нулей, и повыше для ненулевых ячеек.

Для того чтобы лучше разобраться в математике, можно прочитать например вот [этот пост](https://habr.com/ru/company/yandex/blog/241455/).

<img src="netflix.png">

Алгоритм SVD реализован в библиотеке [Surprise](https://github.com/NicolasHug/Surprise). Далее мы обучим модель и используем ее для прогнозирования рейтингов фильмов, которые данный пользователь, например с 𝑖𝑑 = 2, еще не получил оценку.

In [41]:
!pip install scikit-surprise

Requirement already satisfied: scikit-surprise in /Users/a18860104/opt/anaconda3/lib/python3.8/site-packages (1.1.1)
Requirement already satisfied: joblib>=0.11 in /Users/a18860104/opt/anaconda3/lib/python3.8/site-packages (from scikit-surprise) (0.17.0)
Requirement already satisfied: six>=1.10.0 in /Users/a18860104/opt/anaconda3/lib/python3.8/site-packages (from scikit-surprise) (1.15.0)
Requirement already satisfied: scipy>=1.0.0 in /Users/a18860104/opt/anaconda3/lib/python3.8/site-packages (from scikit-surprise) (1.5.2)
Requirement already satisfied: numpy>=1.11.2 in /Users/a18860104/opt/anaconda3/lib/python3.8/site-packages (from scikit-surprise) (1.19.2)

In [42]:
from surprise import Dataset, Reader, SVD, accuracy
from surprise.model_selection import train_test_split

reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(ratings_f[['userId','movieId','rating']], reader)

trainset, testset = train_test_split(data, test_size=.25)
algorithm = SVD()
algorithm.fit(trainset)
predictions = algorithm.test(testset)

accuracy.rmse(predictions)

RMSE: 0.8988

0.8988282793021625

Напишем нашу функцию, которая принимает на вход id пользователя, а на выходе предлагает ему топ 10 фильмов, которые он еще не видел.

In [60]:
def pred_user_rating(ui):
    if ui in ratings_f['userId'].unique():
         #Из таблицы ratings_f создайте list фильмов, которые оценил конкретный пользователь
        ui_list = list(ratings_f[ratings_f['userId']==ui]['movieId'])
        
         #Создайте инвертированный словарь title_to_id, но только для тех фильмов, которые ui не видел. То есть исключите
        #из списка фильмов множество ui_list. Инвертированный - то есть ключи стали значениями, а значения - ключами
        
        id_to_title = {}
        for i in title_to_id.items():
            id_to_title.update({i[1] : i[0]})

        for i in ui_list:
            try:
                del id_to_title[i]
            except(KeyError):
                pass
        
        d = id_to_title
        
        #С помощью нашей обученной модели, проставим предсказанные рейтинги фильмам, которые пользователь еще не видел.
        predictedL = []
        for i, j in d.items():     
            predicted = algorithm.predict(ui, i)
            predictedL.append((j, predicted[3])) 
        #Создайте датафрейм из массива predictedL с колонками ['movies', 'ratings']
        pdf = pd.DataFrame(predictedL,columns = ['movies','ratings'])
        
        #Отсортируйте таблицу по колонке ratings, от большего - к меньшему 
        pdf = pdf.sort_values(by=['ratings'],  ascending=False)
        
        pdf.set_index('movies', inplace=True)    
        return pdf.head(10)        
    else:
        print("Пользователь не найден в списке!")
        return None

In [61]:
user_id = 2
predicted_ratings = pred_user_rating(user_id)

In [62]:
predicted_ratings

                                  ratings
movies
The Godfather                    4.511773
The African Queen                4.462973
Chinatown                        4.444383
The Departed                     4.435921
The Shawshank Redemption         4.401778
The Philadelphia Story           4.377169
Kids                             4.376169
Toy Story 3                      4.367572
To Kill a Mockingbird            4.354270
Monty Python and the Holy Grail  4.336000